<web-app>
    <servlet>
        <servlet-name>EtudiantServlet</servlet-name>
        <servlet-class>EtudiantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EtudiantServlet</servlet-name>
        <url-pattern>/etudiant</url-pattern>
    </servlet-mapping>
</web-app>